{% extends 'base.html' %}

{% block title %}Создать объявление{% endblock %}

{% block link %}{% endblock %}

{% block content %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Создание нового объявления</h2>
    <p>Укажите название: {{ form.title }}</p>
    <p>Добавьте описание: {{ form.description }}</p>
    <p>Укажите цену: {{ form.price }}</p>
    <p>Добавьте фото: {{ form.image }}</p>
    <button type="submit">Разместить объявление</button>
</form>

{% endblock %}