{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}

<div class="row px-4">
    {% if postings %}
    <h1>Все объявления:</h1>
    {% for posting in postings %}
    <div class="card mx-2 mb-2" style="width:18rem;">
        <div class="container mx-2 my-2">
            <img src="{{ posting.image.url }}" style="height: 300px;">
        </div>
        <div class="card-body">
            <h5 class="card-title"><a href="{% url 'posting_detail' posting.id %}" class="link-underline link-underline-opacity-0 
                link-underline-opacity-75-hover">{{ posting.title }}</a></h5>
                <p class="card-text">{{ posting.description|truncatechars:50 }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ posting.price }} ₽</li>
                <li class="list-group-item">Разместил(-а): {{ posting.account.username }}</li>
            </ul>
        </div>
        {% endfor %}
        {% else %}
        <h1>Объявлений не найдено.</h1>
        {% endif %}
    </div>
</div>

{% endblock %}